###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/platform/config.yaml
/config/platform/config_temp.yaml
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
files

###> liip/imagine-bundle ###
/public/media/cache/

public/media/2-CHARTE GRAPHIQUE RNF
###< liip/imagine-bundle ###

/.vscode

launch.json